:root{
    --background:#121214;
    --background-secondary: #17171A;
    --search-bar-background: #202024;
    --search-bar-hover: #303035;
    --border-color: #252529;
    --brand-color: #E07B67;
    --white: #ffffff;
    --text-color: #AFABB6;
}

